/* ===========================================================================*/
/* 사용하지 않는 댓글 관련 css 수정할 때 사용할려고 따로 뺀 css */
/* ------- 댓글 리스트 ------- */
.cm_list{
    width: 100%;
    height: 100vh;
    margin-top:200px;
    padding-left: 13px;
}
.cm_list .cm_line{
    width: 1240px;
    background: #f8fafc;
    border:1px solid #dbe0e2;
    padding:26px 26px 26px 26px;
}
/* 댓글 프로필, 유저정보, 댓글 내용 */
.cm_list .cm_line .cm_inf{
    display: flex;
    /* align-content:center; 줄이 여러개일 때 한 줄에 대한 세로축 높이가 똑같을 때 사용 */
    align-items:center; /* 한줄에대한 높이가 다를 때 세로축 */
    flex-direction:row; /* 기본값 */
    justify-content:space-between; /* 가록 축 정렬에 대한 설정값 */
    flex-wrap: wrap;
    width: 100%;
}
/* 프로필 */
.cm_list .cm_line .cm_inf .channel_profile{
    width: 53px;
    height: 53px;
    margin-top:20px;
    border: 2px solid transparent;
    border-radius: 50%;
    background-image:
            linear-gradient(#a0ffb4, #a0ffb4),
            linear-gradient(to top, #4ba9e1, #a0ffb4);
    background-origin: border-box;/*이미지 시작 위치*/
    background-clip: content-box, border-box; /*이미지 잘릴 위치*/
    overflow: hidden;
    position: absolute;
}
.cm_list .cm_line .cm_inf .channel_profile img{
    width:100%;
}
/* 닉네임, 아이디, 날짜, 시간 & 좋아요, 댓글고정, 댓글신고 */
.cm_list .cm_line .cm_inf .cm_inf_conwrap{
    display: flex;
    align-items:baseline; /* 한줄에대한 높이가 다를 때 세로축 */
    flex-direction:row; /* 기본값 */
    justify-content:space-between; /* 가록 축 정렬에 대한 설정값 */
    flex-wrap: wrap;
    width: 100%;
}
/* 닉네임, 아이디, 날짜, 시간 */
.cm_list .cm_line .cm_inf .cm_inf_conwrap .cm_inf_con{
    padding-left:70px;
}
.cm_list .cm_line .cm_inf .cm_inf_conwrap .cm_inf_con a{
    font-size:13px;
    color:#6e6e6e;
}
.cm_list .cm_line .cm_inf .cm_inf_conwrap .cm_inf_con .cm_aka{
    color: #323232;
}
.cm_list .cm_line .cm_inf .cm_inf_conwrap .cm_inf_con .cm_id{
    color: #909090;
    margin-right: 20px;
}
.cm_list .cm_line .cm_inf .cm_inf_conwrap .cm_inf_con .cm_ymd,.cm_time{
    margin-right: 10px;
}
/* 좋아요&댓글신고고정 */
.cm_list .cm_line .cm_inf .cm_inf_conwrap .cm_up_more{
    display: flex;
}
.cm_list .cm_line .cm_inf .cm_inf_conwrap .cm_up_more .cm_up{
    font-size:15px;
    margin-right: 10px;
}
.cm_list .cm_line .cm_inf .cm_inf_conwrap .cm_up_more .cm_up button{
    background: #f8fafc;
}
.cm_list .cm_line .cm_inf .cm_inf_conwrap .cm_up_more .cm_up .bx{
    font-size:20px;
    vertical-align:-4px;
    color:#837f7f;
}
/* 댓글 더보기 */
.cm_list .cm_line .cm_inf .cm_inf_conwrap .cm_up_more .cm_more{
    width: 20px;

    border:1px solid red;
}
.cm_more > .bx{
    float:right;
    font-size:18px;
    vertical-align:-4px;
    color:#837f7f;
}
.cm_more #toc-content {
    display: none;
}
#toc-toggle {
    cursor: pointer;
    color: #2962ff;
}
#toc-toggle:hover {
    text-decoration: none;
}
/* ------- 댓글내용 ------- */
.cm_list .cm_line .cm_inResult{
    margin-top:10px;
    margin-bottom: 50px;
    padding-left:70px;
    font-size:15px;
    color:#8e8e8e;
}
/* ===========================================================================*/
/* ------- 답글쓰기 버튼 ------- */
.cm_list .cm_line .re_btn{
    padding-left:70px;
}
.cm_list .cm_line .re_btn button{
    width: 105px;
    height: 35px;
    border-radius: 5px;
    border:1px solid #d9dddf;
    background: #fff;
    font-size:13px;
    color:#959595;
    transition: 0.7s;
    cursor: pointer;
}
.cm_list .cm_line .re_btn button:hover{
    background: #d8d8d8;
    font-size:13px;
    color: #fff;
}