/* sidebar.css */
/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* deafault */
*{margin:0; padding:0; box-sizing: border-box; font-family:'Noto Sans KR', sans-serif; font-size:15px;}
body{ position: relative; min-height: 100vh; width: 100%;}
::selection{ color: #fff; background: #11101d;}
ul, ol, li {list-style: none;}
a {color: #333; text-decoration: none; line-height: 1;}
a:hover, a:focus, a:active {text-decoration:none;}
/* ====================================================================================
======================================================================================= */
/* ------- sidebar menu ------- */
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 50px;
    background: #ffffff;
    border-right: 1px solid #eeeeee;
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
}
.sidebar.active{
    width: 220px
}
/* ------- menu ------- */
.sidebar .menu_content .menu{
    color: #4ba9e1;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    /* opacity: 0; */
    pointer-events: none;
    transition: all 0.5s ease;
}
.sidebar.active .menu_content .menu{
    opacity: 1;
    pointer-events: none;
}
.sidebar .menu_content .bx-menu{
    position: absolute;
    z-index: 99;
    color: #4ba9e1;
    font-size: 22px;

    transition: all 0.5s;
}
.menu_content .menu .menu_name{
    display: none;
    font-size: 20px;
    font-weight: 400;
}
.sidebar #btn{
    position: absolute;
    background:linear-gradient(90deg, rgba(76,168,223,1) 0%, rgba(160,255,180,1) 91%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    top: 6px;
    left: 50%;
    font-size: 22px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}
.sidebar.active #btn{
    left: 10%;
}
.sidebar ul{
    margin-top: 27px;
}
.sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
    margin: 5px 0;
}
.sidebar ul li .bx-list-check{
    font-size:22px;
}
/* ------- right gide tip ------- */
.sidebar ul li > span.tooltip{
    position: absolute;
    width: 120px;
    height: 35px;
    left:100px;
    top: 0;
    transform: translate(-50% , -50%);
    border-radius: 6px;
    background: #fff;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
}
.sidebar.active ul li > span.tooltip{
    display: none;
}
.sidebar ul li:hover > span.tooltip{
    transition: all 0.5s ease;
    opacity: 1;
    top: 50%;
}
/* ------- // right gide tip ------- */
/* .sidebar ul li input{
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 12px;
  outline: none;
  border: none;
  background: #1d1b31;
  padding-left: 50px;
  font-size: 18px;
  color: #fff;
} */
.sidebar ul li .bx-search{
    position: absolute;
    z-index: 99;
    color: #3c3c3c;
    font-size: 22px;
    transition: all 0.5s;
}
.sidebar ul li .bx-search:hover{
    background: #fff;
    color: #1d1b31;
}
.sidebar ul li a{
    display: flex;
    color: #3c3c3c;
    align-items: center;
    text-decoration: none;
    border-radius: 12px;
    white-space: nowrap;
    transition: all 0.4s ease;
}
.sidebar ul li a:hover{
    background:linear-gradient(90deg, rgba(76,168,223,1) 0%, rgba(160,255,180,1) 91%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sidebar ul li i{
    font-size: 18px;
    font-weight: 400;
    height: 50px;
    /* min-width: 50px; */
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}
.sidebar .links_name{
    font-size: 15px;
    font-weight: 400;
    margin-left: 16px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.sidebar.active .links_name{
    transition: 0s;
    opacity: 1;
    pointer-events: auto
}
/* ====================================================================================
======================================================================================= */
/* 메인 컨텐츠 */
.home_content{
    position: absolute;
    height: 100%;
    width: calc(100% - 50px);
    left: 50px;
    transition: all 0.5s ease;
}
.sidebar.active ~ .home_content{
    z-index: 100;
}
.home_content .text{
    font-size: 15px;
    font-weight: 500;
    color: #1d1b31;
    margin: 12px;
}
.sidebar.active ~ .home_content{
    width: calc(100% - 220px);
    left: 220px;
}