*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/*  main-my  */
.main-my{
    background-color: #f5f6f7;
    width: 100%;
    height: 350px;
}
.main-my-bar{
    margin: 0 auto;
    margin-top: 20px;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
/*slide button*/
.main-my-slide-button{
    display: inline-block;
    width : 60px;
    height: 60px;
    border: 1px solid #d9d9d9 ;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}
.main-my-slide-button img{
    width: 60px;
}
/*slide*/
.main-my-slide{
    width: 1060px;
    height: 210px;
    list-style: none;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}
.main-mybox{
    display: inline-block;
    width: 250px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    padding: 20px 0;
    margin: 0 5px;
    transition: all 0.5s;
}
.main-mybox:hover{
    box-shadow: 2px 5px 5px 1px rgba(91, 91, 91, .1);
}
.main-mybox a{
    text-decoration: none;
}
.main-mybox-profile{
    margin: 10px auto;
    width: 60px;
    height: 60px;
    border: 2px solid transparent;
    border-radius: 50%;
    background-image:
            linear-gradient(#fff, #fff),
            linear-gradient(to right, #4ba9e1, #a0ffb4);
    background-origin: border-box;/*이미지 시작 위치*/
    background-clip: content-box, border-box; /*이미지 잘릴 위치*/
}
.main-mybox-name{
    margin: 0 auto;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    color: #2c2c2c;
    text-align: center;
}
.main-mybox-desc{
    margin-top: 40px;
    width: 100%;
    font-size: 14px;
    color: #4e4e4e;
    text-align: center;
}

/*  main-tab-content  */
.main-tab-content{
    width: 100%;
}
/*  main-nav  */
.main-nav{
    position: relative;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    width: 100%;
    background-color: #ffffff;
}
.main-nav-bar{
    margin: 0 auto;
    width: 1200px;
    height: 47px;
    text-align: center;
    vertical-align: middle;
    line-height: 41px;
    background-color: #ffffff;
}
.main-nav-bar input[type="radio"]{
    display: none;
}
.main-nav-bar input[type="radio"] + label{
    display: inline-block;
    width: 80px;
    height: 45px;
    margin: 0 10px;
    font-size: 15px;
    font-weight: bold;
    color: #2c2c2c;
    cursor: pointer;
    transition: all 0.5s;
}
.main-nav-bar input[type="radio"]:checked + label{
    color: #4ba9e1;
}
.main-nav-bar input[type="radio"] + label > span{
    display: inline-block;
    width: 0;
    position: absolute;
    bottom: 0;
    transform: translateX(-85%);
    height: 2px;
    background: linear-gradient(to right bottom, #4ba9e1, #a0ffb4);
    transition: all 0.5s;
}
.main-nav-bar input[type="radio"]:checked + label > span{
    display: inline-block;
    width: 80px;
}

/*  main-chart 공통  */
.main-chart{
    width: 100%;
    display: none;
    background-color: #ffffff;
}
.active{
    display : block;
}
.main-chart-desc{
    margin: 0 auto;
    padding: 20px 0;
    width: 1200px;
    height: 60px;
}
.main-chart-desc > span {
    color: #4ba9e1;
    font-size: 22px;
    font-weight: bold;
}

/*  main-video-chart  */
/*  main-video-top  */
.main-video-top{
    margin: 0 auto;
    width: 100%;
    height: 470px;
    background-color: #f9f9f9 ;
}
.main-video-popgroup{
    margin: 0 auto;
    padding: 30px 0;
    width: 1200px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.main-video-box-ver1{
    border: 1px solid #e5e5e5;
    width: 380px;
    background-color: #ffffff;
}
.main-video-img-ver1{
    width: 100%;
    height: 210px;
    position: relative;
}
.main-video-img-ver1 video{
    width: 100%;
    height:100%;
    border-bottom: 1px solid #e5e5e5;
    padding: 10px;
}
video[poster]{
    height:100%;
    width:100%;
}
.main-video-img-ver2 video{
    width: 100%;
    height:100%;
    padding: 5px;
    border: 1px solid #e5e5e5;
}
video[poster]{
    height:100%;
    width:100%;
}
.main-video-desc-ver1{
    border-bottom: 1px solid #f5f5f5;
    margin: 0 auto;
    width: 85%;
    height: 100px;
    padding: 20px 0;
}
.main-video-rank-ver1{
    width: 35px;
    float: left;
    line-height: 40px;
    color: #2c2c2c;
    font-size: 45px;
}
.main-video-info-ver1{
    float: left;
    list-style: none;
}
.main-video-info-ver1 li{
    display: inline-block;
    color: #a0a0a0;
    font-size: 13px;
}
.main-video-info-ver1 li::after{
    content: "|";
    float: right;
    padding: 0 10px;
}
.main-video-info-ver1 li:first-child {
    display: block;
}
.main-video-info-ver1 li:first-child a{
    color: #4e4e4e;
    font-size: 17px;
    font-weight: bold;
}
.main-video-info-ver1 li:last-child a{
    color: #a0a0a0;
    font-size: 13px;
}
.main-video-info-ver1 li:first-child::after{ content: ""; }
.main-video-info-ver1 li:last-child::after{ content: ""; }
.main-video-viewlike-ver1{
    margin: 0 auto;
    width: 85%;
    height: 40px;
    line-height: 35px;
    vertical-align: center;
}
.main-video-viewlike-ver1 img{
    width: 13px;
    vertical-align: middle;
    margin-right: 10px;
}
.main-video-viewlike-ver1 span{
    padding-left: 35px;
    color: #a0a0a0;
    font-size: 14px;
}
/*  main-video-bottom  */
.main-video-bottom{
    margin: 0 auto;
    padding: 30px 0;
    width: 1200px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main-video-box-ver2{
    width: 480px;
    display: flex;
}
.main-video-img-ver2{
    position: relative;
    width: 230px;
    height: 130px;
    float: left;
    margin-bottom: 25px;
    margin-right: 25px;
}
.main-video-time {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 40px;
    background-color: #4d4d4d;
    text-align: center;
    font-size: 12px;
    color: #ffffff;
}
.main-video-rank-ver2{
    width: 45px;
    float: left;
    margin-top: 15px;
    line-height: 30px;
    color: #2c2c2c;
    font-size: 35px;
}
.main-video-desc-ver2{
    margin-top: 15px;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}
.main-video-info-ver2{
    list-style: none;
}
.main-video-info-ver2 li{
    display: inline-block;
    color: #a0a0a0;
    font-size: 13px;
}
.main-video-info-ver2 li > a{
    color: #a0a0a0;
    font-size: 13px;
}
.main-video-info-ver2 li::after{
    content: "|";
    float: right;
    padding: 0 10px;
}
.main-video-info-ver2 li:first-child{
    display: block;
}
.main-video-info-ver2 li:first-child > a{
    color: #4e4e4e;
    font-size: 15px;
    font-weight: bold;
}
.main-video-info-ver2 li:first-child::after{ content: ""; }
.main-video-info-ver2 li:last-child::after{ content: ""; }
.main-video-viewlike-ver2{
    height: 40px;
    line-height: 35px;
    vertical-align: center;
}
.main-video-viewlike-ver2 img{
    width: 13px;
    vertical-align: middle;
    margin-right: 10px;
}
.main-video-viewlike-ver2 span{
    padding-right: 15px;
    color: #a0a0a0;
    font-size: 14px;
}

/*  main-channel-chart  */
.main-channel-popgroup{
    margin: 0 auto;
    width: 1200px;
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main-channel-box{
    width: 230px;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    margin-bottom: 20px;
}
.main-channel-img{
    width: 100%;
    height: 120px;
    position: relative;
}
.main-channel-name{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #fff;
    text-align: center;
}
.main-channel-desc{
    width: 100%;
    height: 90px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.main-channel-rank{
    width: 45px;
    height: 45px;
    border: 2px solid transparent;
    border-radius: 10px;
    background-image:
            linear-gradient(#fff, #fff),
            linear-gradient(to right, #4ba9e1, #a0ffb4);
    background-origin: border-box;/*이미지 시작 위치*/
    background-clip: content-box, border-box; /*이미지 잘릴 위치*/
    font-size: 30px;
    color: #2c2c2c;
    text-align: center;
    line-height: 40px;
}
.main-channel-subsc{
    width: 130px;
    font-size: 15px;
    color: #a0a0a0;
    text-align: center;
    line-height: 45px;
}
