<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <typeAliases>
        <typeAlias alias="bookmark" type="model.Bookmark" />
        <typeAlias alias="channel" type="model.Channel" />
        <typeAlias alias="channelalarm" type="model.Channelalarm" />
        <typeAlias alias="comment" type="model.Comment" />
        <typeAlias alias="dmchat" type="model.DmChat" />
        <typeAlias alias="history" type="model.History" />
        <typeAlias alias="likedvideo" type="model.Likedvideo" />
        <typeAlias alias="purchased" type="model.Purchased" />
        <typeAlias alias="subscriptions" type="model.Subscriptions" />
        <typeAlias alias="model" type="model.User" />
        <typeAlias alias="video" type="model.Video" />
        <typeAlias alias="watchlater" type="model.Watchlater" />
    </typeAliases>

    <mappers>
        <mapper resource="sql/admin.xml" />
        <mapper resource="sql/adminChannel.xml" />
        <mapper resource="sql/channel.xml" />
        <mapper resource="sql/contentsUpload.xml" />
        <mapper resource="sql/dmChat.xml" />
        <mapper resource="sql/main.xml" />
        <mapper resource="sql/multiChat.xml" />
        <mapper resource="sql/myPick.xml" />
        <mapper resource="sql/purchased.xml" />
        <mapper resource="sql/search.xml" />
        <mapper resource="sql/user.xml" />
    </mappers>

</configuration>










