*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: #2c2c2c;
}
.ca-container{
    width: 100%;
    display: flex;
}
/*  ca-sidebar  */
.ca-sidebar{
    position: fixed;
    border-right: 1px solid #f0f0f0;
    width: 15%;
    height: 100vh;
    background-color: #f8fafc;
}
/*  ca-side-info  */
.ca-side-info{
    width: 100%;
    padding: 20px;
}
.ca-side-profile{
    margin: 0 auto;
    width: 110px;
    height: 110px;
    border: 2px solid transparent;
    border-radius: 50%;
    background-image:
            linear-gradient(#fff, #fff),
            linear-gradient(to right, #4ba9e1, #a0ffb4);
    background-origin: border-box;/*이미지 시작 위치*/
    background-clip: content-box, border-box; /*이미지 잘릴 위치*/
    overflow: hidden;
}
.ca-side-profile img{
    height: 100%;
}
.ca-side-info span{
    display: inline-block;
    width: 100%;
    margin: 10px 0;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    color: #4ba9e1;
}
/*  ca-side-menu  */
.ca-side-menu > li{
    width: 100%;
    height: 45px;
    transition: 0.05s;
    display: flex;
    justify-content: flex-start;
    transition: 0.3s;
}
.ca-side-menu > li:hover{
    background: rgba(75,169,225,0.7);
    box-shadow: 1px 2px 1px rgba(91, 91, 91, 0.2);
    cursor: pointer;
}
.ca-side-menu > li:hover > a > span{
    color: #fff;
}
.image2{
    display: none;
}
.ca-side-menu > li:hover .image2{
    display: inline-block;
}
.ca-side-menu > li:hover .image1{
    display: none;
}
.ca-side-action{
    visibility: hidden;
    width: 5px;
    height: 45px;
    background: rgba(75,169,225,1);
}
.ca-side-menu > li:hover .ca-side-action{
    visibility: visible;
}
.ca-side-menu > li a{
    padding: 10px;
}
.ca-side-menu > li a img{
    vertical-align: text-bottom;
    width: 20px;
}
.ca-side-menu > li a span{
    margin-left: 10px;
    font-size: 14px;
    color: #a0a0a0;
}
/*  ca-back  */
.ca-back{
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 10px;
}
.ca-back img{
    border-radius: 5px;
    width: 24px;
    float: right;
    transition: 0.5s;
}
.ca-back img:hover{
    cursor: pointer;
    box-shadow: 0 1px 2px 1px rgba(91, 91, 91, .2);
}
/*  ca-main  */
.ca-main{
    width: 100%;
    height: 100vh;
}
.ca-main-title{
    margin: 10px auto;
    width: 100%;
    height: 50px;
    line-height: 50px;
}
.ca-main-title > span{
    height: 100%;
    display: inline-block;
    font-size: 20px;
    color: #404040;
    font-weight: bold;
}
