.ca-content{
    float: right;
    width: 85%;
    height: 100vh;
    padding: 10px 20px;
}
.ca-content-list{
    width: 100%;
    border-top: 1px solid rgba(91, 91, 91, .1);
    padding: 10px;
}
.ca-content-list span{
    font-size: 13px;
    color: #a0a0a0;
}
.ca-main-title a{
    float: right;
}
/*필터 이미지*/
.ca-content-filter-img{
    width: 20px;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 15px;
}
/*input*/
.ca-filter-nav{
    height: 30px;
    width: 400px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.ca-filter-button{
    width: 90px;
    height: 30px;
    font-size: 13px;
    color: #a0a0a0;
    background-color: #f8fafc;
    border: 1px solid #d9dddf;
    border-radius: 2px;
    cursor: pointer;
}
#ca-update{
    width: 90px;
    height: 30px;
    font-size: 13px;
    color: #a0a0a0;
    background-color: #f8fafc;
    border: 1px solid #d9dddf;
    border-radius: 2px;
    cursor: pointer;
    line-height: 30px;
    vertical-align: center;
}
.ca-filter-button:hover{
    color: #4BA9E1;
    border: 1px solid #4BA9E1;
}
#ca-delete:hover{
    color: #4BA9E1;
    border: 1px solid #4BA9E1;
}
.ca-filter-chk{
    width: 24px;
    height: 24px;
    border:1px solid #dadada;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 15px;
}
/*필터박스*/
.ca-content-content > li:first-child{
    position: relative;
}
.ca-content-filter-box{
    width: 8%;
    border: 1px solid rgba(91, 91, 91, .1);
    box-shadow: 2px 5px 5px 1px rgba(91, 91, 91, .1);
    padding: 10px;
    position: absolute;
    top: 30%;
    left: 45px;
    background-color: #f8fafc;
}
.ca-content-filter-box > li{
    padding: 5px 0;
}
.ca-content-filter-box > li > input[type="radio"]{
    display: none;
}
.ca-content-filter-box > li > label{
    cursor: pointer;
    margin: 0 10px ;
    font-size: 13px;
    color: #a0a0a0;
}
/*li 세부*/
.ca-content-content > li{
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr 1fr 1fr;
}
.ca-content-content > li > div{
    text-align: center;
}
.ca-content-content > li > div:first-child{
    text-align: start;
}

.ca-content-content > li:last-child{
    display: block;
    text-align: center;
    border-bottom: 1px solid rgba(91, 91, 91, .1);
}
.ca-content-content > li:last-child > div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.ca-content-content > li:last-child span{
    display: inline-block;
    padding: 0 10px;
}
.ca-content-content > li:last-child span a{
    font-size: 14px;
    color: #2c2c2c;
    cursor: pointer;
}
.ca-content-content > li:last-child span img{
    vertical-align: text-bottom;
}
/*video*/
.ca-content-video{
    display: flex;
    align-items: center;
}
.ca-content-video-video{
    width: 150px;
    margin: 0 10px;
}
.ca-content-video-desc{
    height: 100px;
    padding: 10px;
}
.ca-content-video-desc p{
    font-size: 12px;
    color: #a0a0a0;
}
/*페이징처리*/
.ca-content-content > li:last-child img{
    cursor: pointer;
}


/*영상업로드 틀*/



/*input[id="ca-content-popup"]{*/
/*    display: none;*/
/*}*/
/*input[id="ca-content-popup"] + label{*/
/*    display: inline-block;*/
/*    background-color: #f8fafc;*/
/*    width: 120px;*/
/*    height: 40px;*/
/*    margin: 10px 0;*/
/*    border: 1px solid #d9dddf;*/
/*    border-radius: 2px;*/
/*    cursor: pointer;*/
/*    color: #a0a0a0;*/
/*    font-size: 14px;*/
/*    line-height: 40px;*/
/*    text-align: center;*/
/*    float: right;*/
/*}*/
/*input[id="ca-content-popup"] + label:hover{*/
/*    border: 1px solid #4ba9e1;*/
/*    color: #4ba9e1;*/
/*}*/
/*input[id="ca-content-popup"] + label + div{*/
/*    opacity: 0;*/
/*    visibility: hidden;*/
/*    transition: all 0.5s;*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    z-index: 100;*/
/*}*/
/*input[id="ca-content-popup"]:checked + label + div{*/
/*    opacity: 1;*/
/*    visibility: visible;*/
/*}*/
/*input[id="ca-content-popup"] + label + div > div{*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    border-radius: 5px;*/
/*    transform: translate(-50%, -50%);*/
/*    width: 80%;*/
/*    height: 80%;*/
/*    background-color: #f5f6f7;*/
/*    z-index: 2;*/
/*}*/
/*input[id="ca-content-popup"] + label + div > div > label{*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    padding: 5px;*/
/*    width: 50px;*/
/*    height: 50px;*/
/*    z-index: 1;*/
/*    cursor: pointer;*/
/*}*/
/*input[id="ca-content-popup"] + label + div > label{*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background: rgba(133, 133, 133, 0.8);*/
/*    z-index: 1;*/
/*}*/
/*!*영상업로드 내용*!*/
/*.ca-content-upload{*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    padding: 30px;*/
/*    overflow: auto;*/
/*}*/
